<div>
    <h1>
        Új Szak Létrehozása
    </h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="Iskola Neve" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Leírás" formControlName="description">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Város" formControlName="city">
        </mat-form-field>
        <!-- TODO Select for schools-->
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid || inProgress">Submit</button>
    </form>
</div>
