.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sidenav {
    background-color: #ffffff;
    width: 15%;
    position: fixed;
}

.container {
    background-color: #f8f8ff;
    height: 100%;
}

mat-toolbar {
    background-color: #ffffff;
    color: #3f51b5;
}