.card {
    margin: 20px;
    padding: 5em;
    width: 30%;
    .name-button {
        font-size: 1.2em;
    }
    .card-content {
        font-size: 0.8em;
    }
}

.description {
    width: 30em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tooltip {
    background: #f8f8ff;
    color: black;
    font-size: larger;
    font-weight: bolder;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: 30px;
}