.main-nav {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    font-size: 100%;
}

button {
    margin: 5px;
    color: #3f51b5;
}

button:hover {
    background-color: #3f51b5;
    color: #f8f8ff;
}

.auth {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
}