<div class="main-nav">
    <button mat-raised-button (click)="navigateTo('schools')">Iskolák</button>
    <button mat-raised-button (click)="navigateTo('majors')">Szakok</button>
    <button mat-raised-button (click)="navigateTo('subjects')">Tantárgyak</button>
    <!--<button mat-raised-button (click)="navigateTo('teachers')">Tanárok</button>-->
</div>
<div class="auth">

    <button mat-raised-button (click)="navigateTo('login')" *ngIf="!user">Bejelentkezés</button>
    <div *ngIf="user" class="greeting">Üdvözöllek, <span class="name">{{user.fullName}}!</span></div>
    <button mat-raised-button (click)="logout()" *ngIf="user">Kijelentkezés</button>
    <button mat-raised-button (click)="navigateTo('register')" *ngIf="!user">Regisztráció</button>
</div>