<div class="main-nav">
    <button mat-raised-button (click)="navigateTo('schools')">Iskolák</button>
    <button mat-raised-button (click)="navigateTo('majors')">Szakok</button>
    <button mat-raised-button (click)="navigateTo('subjects')">Tantárgyak</button>
    <button mat-raised-button (click)="navigateTo('teachers')">Tanárok</button>
</div>
<div class="auth">
    <button mat-raised-button (click)="navigateTo('login')">Bejelentkezés</button>
    <button mat-raised-button (click)="navigateTo('logout')">Kijelentkezés</button>
    <button mat-raised-button (click)="navigateTo('register')">Regisztráció</button>
</div>