.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.file-list {
    margin: 20px;
    height: 200px;
    overflow-y: scroll;
    width: 100%;
}

.file-upload {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}