<div>
    <div class="school-data" *ngIf="selectedSchool">
        <h1>{{selectedSchool.name}}</h1>
        <h2>{{selectedSchool.description}}</h2>
    </div>
    <div class="cards">
        <button mat-button class="add-button">

      <mat-card class="card add-card" (click)="createMajor()">
        <mat-card-content><img src="assets/transparent-plus.png" alt="plus"></mat-card-content>
      </mat-card>
    </button>
        <mat-card *ngFor="let major of majors" class="card">
            <mat-card-title>
                <button mat-flat-button (click)="navigate(major.id)" class="name-button">
                  {{major.name}}
                </button>
            </mat-card-title>
            <mat-card-content>
                <p>{{major.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="editMajor(major)" class="edit-button">Edit</button>
                <button mat-raised-button color="warn" (click)="deleteMajor(major)" class="delete-button">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
