<div>
    <div class="cards">
        <button mat-button class="add-button">

          <mat-card class="card add-card" (click)="editSubject(null)">
            <mat-card-content><img src="assets/transparent-plus.png" alt="plus"></mat-card-content>
          </mat-card>
        </button>
        <mat-card *ngFor="let subject of subjects" class="card">
            <mat-card-title>{{subject.name}}</mat-card-title>
            <mat-card-content>
                <p>{{subject.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="editSubject(subject)" class="edit-button">Edit</button>
                <button mat-raised-button color="warn" (click)="deleteSubject(subject)" class="delete-button">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
