.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: flex-start;
    margin-top: 20px;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: 30px;
}