<div class="container">
    <div class="row"></div>
    <h3 class="card-title text-center">Bejelentkezés</h3>
    <form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput type="text" id="inputName" class="form-control" placeholder="Név" formControlName="name" required autofocus>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="password" id="inputPassword" class="form-control" placeholder="Jelszó" formControlName="password" required>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="form.invalid">Sign in</button>
    </form>
</div>